<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire de Paiement par Carte Bancaire</title>
    <link rel="stylesheet" href="/images/bootstrap.min.css">
    <link href="/images/style2.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
    <header>
        <div class="row col-lg-12 text-center">
            <div class="row col-lg-2 text-center">
                <a href="/"><img src="/images/LogoDarkMerguez.PNG" alt="Mon logo"
                                 style="max-height: 5rem; width: auto; max-width: 100%;"></a>
            </div>
            <div class="row col-lg-6 text-center"></div>
            <div class="row col-lg-4 text-center nav2">
                <ul>
                    <li><a href="/" id="linkHome">Home</a></li>
                    <li><a href="transfer" id="linkTransfer">Transfer</a></li>
                    <li><a href="profile" id="linkProfile">Profile</a></li>
                    <li><a href="contact" id="linkContact">Contact</a></li>
                    <li><a href="signin" id="logout">Sign out</a></li>
                </ul>
            </div>
            <hr>
            </hr>
        </div>
    </header>

    <div class="row col-lg-12 text-center" id="addIBAN">
        <div class="row col-md-4 text-center boites"></div>
        <div class="row col-md-4 text-center boites">
            <div class="card mx-auto" id="boxIBANborder">
                <form th:action="@{/addCash}" th:object="${addCashForm}" method="POST">
                    <div class="form-group">
                        <label for="montant">Montant personnalisé</label>
                        <input type="number" th:field="*{amountAdded}" name="amountAdded" class="form-control" id="montant" placeholder="Entrez le montant">
                    </div>
                    <div class="form-group">
                        <label for="carteBancaire">Numéro de carte bancaire</label>
                        <input type="text" class="form-control" id="carteBancaire"
                               placeholder="Entrez le numéro de carte">
                    </div>
                    <div class="form-group">
                        <label for="dateExpiration">Date d'expiration</label>
                        <input type="text" class="form-control" id="dateExpiration" placeholder="MM/AA">
                    </div>
                    <div class="form-group">
                        <label for="codeSecurite">Code de sécurité</label>
                        <input type="text" class="form-control" id="codeSecurite" placeholder="Entrez le code CVV">
                    </div>
                    <button type="submit" class="btn btn-primary">Valider le paiement</button>
                </form>
            </div>
        </div>
    </div>

    <hr>
    </hr>

    <div class="row col-lg-12 text-center">
        <div class="row col-lg-1 text-center">
            <img src="/images/LogoDarkMerguez.PNG" alt="petit logo"
                 style="max-height: 2rem; width: auto; max-width: 100%;">
        </div>
    </div>

    <footer>
        <div class="row col-lg-12 text-center" id="bandeauBas">
            <div class="row col-lg-2"></div>
            <div class="row col-lg-3">
                <ul class="ulFooter">
                    <li><b>Cash transfer</b></li>
                    <li>FAQ</li>
                    <li>Why using Flash Cash ?</li>
                    <li>Money change</li>
                    <li>Taxes</li>
                </ul>
            </div>
            <div class="row col-lg-3">
                <ul class="ulFooter">
                    <li><b>Need help ?</b></li>
                    <li>Live chat</li>
                    <li>Contact us</li>
                    <li>Email us</li>
                    <li>Call us</li>
                </ul>
            </div>
            <div class="row col-lg-3">
                <ul class="ulFooter">
                    <li><b>About</b></li>
                    <li>Team</li>
                    <li>Locations</li>
                    <li>Privacy</li>
                    <li>Terms</li>
                </ul>
            </div>
        </div>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>