<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="fr">

<head>
    <meta charset="utf-8">
    <link href="/images/bootstrap.min.css" rel="stylesheet">
    <link href="/images/style2.css" rel="stylesheet">
</head>

<body class="text-center">

<div class="container-fluid">
    <header>
        <div class="row col-lg-12 text-center">
            <div class="row col-lg-2 text-center">
                <img src="/images/LogoDarkMerguez.PNG" alt="Mon logo"
                     style="max-height: 5rem; width: auto; max-width: 100%;">
            </div>
            <div class="row col-lg-6 text-center"></div>
            <div class="row col-lg-4 text-center nav">
                <ul>
                    <li>Home</li>
                    <li>Transfer</li>
                    <li>Profile</li>
                    <li>Contact</li>
                    <li><a href="signin" id="logout">Sign out</a></li>
                </ul>
            </div>
            <hr>
            </hr>
        </div>
    </header>

    <div class="row col-lg-12 text-center">
        <br></br>
        <h1>My Profile</h1>
        <br></br>
    </div>

    <div class="row col-lg-12 text-center">
        <div class="row col-12 col-sm-6 col-md-4 text-center boites">
            <div class="card mx-auto boxborder">
                <div class="titleCard">
                    <h3>Add cash to Flash Cash</h3>
                </div>
                <div class="paddingtop">
                    <ul class="ulCard">
                        <li>Add cash with your credit card</li>
                        <li>Free</li>
                        <li>Instant deposit</li>
                        <li>Fully secured</li>
                    </ul>
                </div>
                <div class="understart">
                    <button type="submit" class="cardButton">Start</button>
                </div>
            </div>
        </div>
        <div class="row col-12 col-sm-6 col-md-4 text-center boites">
            <div class="card mx-auto boxborder">
                <div class="titleCard">
                    <h3>Transfer to your bank</h3>
                </div>
                <div class="paddingtop">
                    <ul class="ulCard">
                        <li>Instant transfer</li>
                        <li>Free</li>
                        <li>Worldwide</li>
                        <li>Fully secured</li>
                    </ul>
                </div>
                <div class="understart">
                    <button type="submit" class="cardButton">Start</button>
                </div>
            </div>
        </div>
        <div class="row col-12 col-sm-6 col-md-4 text-center boites">
            <div class="card mx-auto boxborder">
                <div class="titleCard">
                    <h3>Add an IBAN</h3>
                </div>
                <div class="paddingtop">
                    <ul class="ulCard">
                        <li>Add your IBAN here</li>
                        <li>Up to 5 IBAN</li>
                        <li>Any bank supported</li>
                        <li>Fully secured</li>
                    </ul>
                </div>
                <div class="understart">
                    <a href="addIBAN">
                        <button type="submit" class="cardButton">Start</button>
                        </button></a>
                </div>
            </div>
        </div>
    </div>
    <br></br>
    <div class="row col-lg-12 text-center">
        <h2>My account balance</h2>
    </div>

    <div class="row col-lg-12 text-center paddingtop">
        <div class="row col-lg-6 text-center"><b>User</b></div>
        <div class="row col-lg-6 text-center"><b>Amount</b></div>
    </div>
    <hr>
    </hr>
    <div class="row col-lg-12 text-center paddingtop">
        <div class="row col-lg-6 text-center"></div>
        <div class="row col-lg-6 text-center"></div>
    </div>
    <hr>
    </hr>
    <br></br>
    <hr>
    </hr>

    <div class="row col-lg-12 text-center">
        <div class="row col-lg-1 text-center">
            <img src="/images/LogoDarkMerguez.PNG" alt="petit logo"
                 style="max-height: 2rem; width: auto; max-width: 100%;">
        </div>
    </div>

    <footer>
        <div class="row col-lg-12 text-center" id="bandeauBas">
            <div class="row col-lg-2"></div>
            <div class="row col-lg-3">
                <ul class="ulFooter">
                    <li><b>Cash transfer</b></li>
                    <li>FAQ</li>
                    <li>Why using Flash Cash ?</li>
                    <li>Money change</li>
                    <li>Taxes</li>
                </ul>
            </div>
            <div class="row col-lg-3">
                <ul class="ulFooter">
                    <li><b>Need help ?</b></li>
                    <li>Live chat</li>
                    <li>Contact us</li>
                    <li>Email us</li>
                    <li>Call us</li>
                </ul>
            </div>
            <div class="row col-lg-3">
                <ul class="ulFooter">
                    <li><b>About</b></li>
                    <li>Team</li>
                    <li>Locations</li>
                    <li>Privacy</li>
                    <li>Terms</li>
                </ul>
            </div>
        </div>
    </footer>
</div>
</body>

<script src="script.js"></script>
</html>