<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="fr">

<head>
    <meta charset="utf-8">
    <link href="/images/bootstrap.min.css" rel="stylesheet">
    <link href="/images/style2.css" rel="stylesheet">
</head>

<body class="text-center">

<div class="container-fluid">
    <header>
        <div class="row col-lg-12 text-center">
            <div class="row col-lg-2 text-center">
                <a href="/"><img src="/images/LogoDarkMerguez.PNG" alt="Mon logo"
                                 style="max-height: 5rem; width: auto; max-width: 100%;"></a>
            </div>
            <div class="row col-lg-6 text-center"></div>
            <div class="row col-lg-4 text-center nav2">
                <ul>
                    <li><a href="/" id="linkHome">Home</a></li>
                    <li><a href="transfer" id="linkTransfer">Transfer</a></li>
                    <li><a href="profile" id="linkProfile">Profile</a></li>
                    <li><a href="contact" id="linkContact">Contact</a></li>
                    <li><a href="signin" id="logout">Sign out</a></li>
                </ul>
            </div>
            <hr>
            </hr>
        </div>
    </header>

    <div class="row col-lg-12 text-center" id="addIBAN">
        <div class="row col-md-3 text-center boites"></div>
        <div class="row col-md-6 text-center boites">
            <div class="card mx-auto" id="boxIBANborder">
                <div>
                    <h3 id="titleIBAN">Add a new friend :</h3>
                </div>
                <form th:action="@{/add-friend}" th:object="${linksForm}" method="POST">
                    <div class="allPadding form-label">
                        <input type="text" name="email" class="form-control" placeholder="Friends's mail" id="champIBAN">
                    </div>
                    <div class="understart">
                        <button type="submit" class="btn-primary" id="btnIBAN">Add friend</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <br>

    <div class="row col-lg-12 text-center" id="addIBAN">
        <div class="row col-md-3 text-center boites"></div>
        <div class="row col-md-6 text-center boites">
            <div class="card mx-auto" id="boxIBANborder">
                <div>
                    <h3 id="titleIBAN">Chose an existing friend to send cash to :</h3>
                </div>
                <form th:action="@{/transfer}" th:object="${transferForm}"  method="POST">
                    <div class="allPadding form-label">
                        <select name="contactEmail">
                            <option value="default">Select a friend</option>
                            <option th:each="link : ${userLinks}" th:value="${link.user2.email}" th:utext="${link.user2.email}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="montant">Montant personnalisé :</label>
                        <input type="number" name="amount"  class="form-control" id="montant" placeholder="Entrez le montant (0.5% de frais seront appliqués)">
                    </div>
                    <div class="understart">
                        <button type="submit" class="btn-primary" id="btnIBAN">Send cash to friend</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <br></br>


    <hr>
    </hr>

    <div class="row col-lg-12 text-center">
        <div class="row col-lg-1 text-center">
            <img src="/images/LogoDarkMerguez.PNG" alt="petit logo"
                 style="max-height: 2rem; width: auto; max-width: 100%;">
        </div>
    </div>

    <footer>
        <div class="row col-lg-12 text-center" id="bandeauBas">
            <div class="row col-lg-2"></div>
            <div class="row col-lg-3">
                <ul class="ulFooter">
                    <li><b>Cash transfer</b></li>
                    <li>FAQ</li>
                    <li>Why using Flash Cash ?</li>
                    <li>Money change</li>
                    <li>Taxes</li>
                </ul>
            </div>
            <div class="row col-lg-3">
                <ul class="ulFooter">
                    <li><b>Need help ?</b></li>
                    <li>Live chat</li>
                    <li>Contact us</li>
                    <li>Email us</li>
                    <li>Call us</li>
                </ul>
            </div>
            <div class="row col-lg-3">
                <ul class="ulFooter">
                    <li><b>About</b></li>
                    <li>Team</li>
                    <li>Locations</li>
                    <li>Privacy</li>
                    <li>Terms</li>
                </ul>
            </div>
        </div>
    </footer>
</div>
</body>

</html>