h1 {
    font-size: 3rem;
    font-weight: 300 ;
}

h2 {
    font-weight: 222;
}

h3 {
    font-weight: 150;
    font-size: 144%;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav ul {
    padding: 0;
    margin: 0;
}

.ulCard {
    flex-direction: column;
    padding-left: 0;
}

.ulFooter {
    text-align: left;
    flex-direction: column;
    list-style: none;
    font-weight: 180;
}

b {
    font-weight: 600;
}

.nav {
    padding-top: 3%;
    font-weight: 250;
    margin: 0;
    text-align: right;
    word-spacing: 0;
}

.nav2 {
    font-weight: 250;
    margin: 0;
    text-align: right;
    word-spacing: 0;
    margin-top: 1rem;
}

#bandeauBas {
    justify-content: space-evenly;
}

.titleCard {
    background-color: #0d70fe;
    color: white;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 0.5rem;
    padding-top: 1rem;
    justify-content: center;
}

.boites {
    padding: 0.5rem;
    margin: 0;
}

.card {
    padding: 0;
    font-weight: 280;
}

.cardButton {
    width: 90%;
    border-color: #306dfd;
    background-color: white;
    color: #306dfd;
    border-radius: 0.5rem;
    height: 3rem;
    font-weight: 350;
    border-width: 0.1rem;
}

.boxborder {
    border: none;
    box-shadow: -1px 1px 2px 0px #ebe9e3;
}

#boxIBANborder {
    border: none;
    box-shadow: 5px 5px 2px 0px #ebe9e3;
    min-height: 8rem;
    padding: 3rem;
}

.understart {
    padding-bottom: 0.66rem;
}


hr {
    color: #979593;
    box-shadow: 0.4px 0.4px 0.4px 0px #979593;
}

.paddingtop {
    padding-top: 0.8rem;
}

#addIBAN {
    padding-top: 3rem;
}

#champIBAN {
    padding
}

#titleIBAN {
    font-weight: 450;
    font-size : 1.2rem;
}

.allPadding {
    padding: 1.2rem;
}

#btnIBAN {
    padding: 0.8rem;
    border-radius: 0.4rem;
    font-weight: 230;
    font-size: 0.9rem;
    border: 0;
}

a {
    text-decoration: none;
    color: black;
}

button a {
    color: #306dfd;
}

#logout,
#linkHome {
text-decoration: none;
}

#logout:hover,
#linkHome:hover{
color: black;
font-weight: bolder;
text-decoration: underline;
}